<div class="list">
  <% if users.any? %>
    <% users.each do |user| %>
      <div class="unit">
        <% if user.image?%>
          <%= image_tag user.image.url(:thumb100), class: 'rounded-circle image' %>
        <% else %>
          <%= image_tag"noimage.png", size: '100x100', class: 'rounded-circle image' %>
        <% end %>
        <h3 class="pl-4"><%= link_to user.name, user_path(user) %></h3>
      </div>
    <% end %>
  <% end %>
</div>
<div class="users-paginate">
  <%= paginate users, class: 'paginate' %>
</div>