<% if logged_in? %>
 

<% else %>
  <div class="center">
    <div class="text-center">
      <h1 class="pt-5 mb-5">My Spotへようこそ</h1>
      <%= render 'text' %>
      <%= render 'users/new' %>
    </div>
  </div>
<% end %>