.txt {
  margin:80px 50px;
  font-size: 20px;
  display: inline-block;
  text-align: left;
}
.heading{
  text-align: center;
}
.wrapper{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.show p{
  padding:0;
  margin: 0;
}
.show-menu{
  padding: 10px 0;
}
.show-menu{
  display: flex;
}
.side{
  padding-left: 40px;
  padding-top: 10px;
}
.side th{
  padding-right: 10px;
}
.side li {
  display: list-item; 
  list-style-type: none;
}
.side ul{
  padding-top: 5px;
  padding-left: 0;
}
.image{
  border: solid 2px #000000;
   margin-bottom: 20px;
}
.content{
  text-align: center;
}
.main{
  display: inline-block;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
}
.btn{
  display: block;
  margin: 0 auto;
  width: 40%;
}
.description table{
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 40%;
}
.description th{
  padding: 15px 0;
  border-bottom: solid 2px #ddd;
  width: 35%;
}
.description td{
  border-bottom: solid 2px #ddd;
  text-align: left;
}
table p{
  margin: 0;
}
.foot{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.user-menu p{
  line-height: 1.4;
  font-size: 15.3px;
  text-align: left;
  display: inline-block;
}
.item{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.home{
  width: 100%;
  display: flex;
}
.sidebar{
  width: 30%;
  background: #EEEEEE;
  height: auto;
  min-height: 100vh;
}
.feature{
  width: 70%;
  background: #FFFFFF;
}
.tab{
  margin: 0 auto;
  width: 80%;
}
.avatar{
  width: 75%;
}
