html{
  overflow-x: hidden;
  position: relative;
}
.txt {
  margin:80px 50px;
  font-size: 20px;
  display: inline-block;
  text-align: left;
  color: #EEEEEE;
}
.contents{
  margin-top: 100px;
}
.heading{
  font-size: 3.2rem;
  text-align: center;
  padding-top: 160px;
  color: #EEEEEE;
}
.wrapper{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.show p{
  padding:0;
  margin: 0;
}
.show-menu{
  padding: 10px 0;
}
.show-menu{
  display: flex;
}
.side{
  padding-left: 40px;
  padding-top: 10px;
}
.side th{
  padding-right: 10px;
  font-size: 17.5px;
}
.side li {
  display: list-item; 
  list-style-type: none;
}
.side ul{
  padding-top: 5px;
  padding-left: 0;
}
.image{
  border: solid 2px #000000;
   margin-bottom: 20px;
}
.content{
  text-align: center;
  margin-top: 80px;
}
.main{
  display: inline-block;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
}
.btn{
  display: block;
  margin: 0 auto;
  width: 40%;
}
.description table{
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 45%;
}
.description th{
  padding: 15px 0;
  border-bottom: solid 2px #ddd;
  width: 35%;
}
.description td{
  border-bottom: solid 2px #ddd;
  text-align: left;
}
table p{
  margin: 0;
}
.foot{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.user-menu p{
  line-height: 1.4;
  font-size: 15.5px;
  text-align: left;
  display: inline-block;
}
.user-menu{
  word-break: break-all;
}
.item{
  margin: 100px auto 0;
  width: 280px;
  text-align: center;
}
.home{
  width: 100%;
  display: flex;
}
.sidebar{
  width: 310px;
  background: #B0C4DE;
  height: auto;
  min-height: 100vh;
}
.feature{
  width: 75%;
  background: #F8F8FF;
  margin: 0 auto;
}
.tab{
  margin: 70px auto 0;
  width: 75%;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.row{
  padding-top: 80px;
}
#error_explanation{
  z-index: -1;
}
.feedout{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  top: 3px;
  z-index: 1;
  opacity: 0.9;
}
body{
  background-color: #F8F8FF
}
.unit{
  display: flex;
  width: 33%;
  margin-bottom: 20px;
}
.list{
  padding: 150px 0 50px 30px;
  display: flex;
  flex-wrap: wrap;
}
.users-paginate .pagination{
  justify-content: center;
}
