@media screen and (max-width: 1210px){
.unit{
  width: 50%;
}
.list{
  padding-left: 80px;
}
}
@media screen and (max-width: 1170px){
.tab{
  width: 95%;
}
.btn-edit, .btn-favorite{
  width: 75%;
}
.description table {
  width: 70%;
}
}
@media screen and (max-width: 1000px){
.description table {
  width: 80%;
}
.topimage{
  padding: 0;
}
.sidebar {
  min-height: 80vh;
}
.item {
  margin: 50px auto 0;
  width: 450px;
  text-align: center;
}
.user-menu p{
  font-size: 17px;
}
.sidebar{
  background: #B0C4DE;
  height: auto;
  width: 100%;
}
.home{
  display: block;
}
.feature{
  width: 80%;
}
}
@media screen and (max-width: 860px){
.feature{
  width: 100%;
}
.unit{
  width: 60%;
}
.feedout{
  width: 65%;
}
}
@media screen and (max-width: 710px){
.main .image{
  width: 500px;
}
.sidebar{
  padding-bottom: 20px;
}
.txt{
  margin-left: 10px;
}
.topimage p{
  font-size: 16px;
}
.item {
  width: 350px;
}
.user-menu p{
  font-size: 16px;
}
.media .show{
 margin: 0 auto;
}
.show-menu{
  display: block;
}
.side{
  padding: 0;
}
.side th{
  width: 30%;
}
table {
 width: 100%;
 }
.media .image{
 margin: 0;
 width: 400px;
 height: 280px;
 }
.list{
 padding-left: 20px;
 }
.unit{
  margin: 0;
  width: 100%;
}
.list h3{
  font-size: 20px;
  line-height: 2;
}
.spots-paginate .pagination{
  justify-content: center;
}
 
}
@media screen and (max-width: 570px){
.main .image{
  width: 400px;
}
form{
    padding: 0 20px;
  }
.row p{
  padding-left: 20px;
}
}
@media screen and (max-width: 430px){
.main .image{
  width: 350px;
}
.topimage .heading{
  font-size: 28px;
}
.txt{
  width: 90%;
}
.topimage p{
  font-size: 14px;
}
.media .image{
 margin: 0;
 width: 340px;
 height: 200px;
 }
.media .show{
 margin: 0 auto;
}
}